<h1>Listing workouts</h1>

<table width="100%">
  <tr>
    <th>Date</th>
    <th>Duration</th>
    <th>Distance</th>
    <th>Pace</th>
    <th>VDOT</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @workouts.each do |workout| %>
  <tr>
    <td><%= workout.date %></td>
    <td><%= workout.duration_formatted %></td>
    <td><%= workout.distance %></td>
    <td><%= workout.pace_formatted %></td>
    <td><%= workout.vdot.round(2) %></td>
    <td><%= link_to 'Show', workout %></td>
    <td><%= link_to 'Edit', edit_workout_path(workout) %></td>
    <td><%= link_to 'Destroy', workout, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Workout', new_workout_path %>
