<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Upload Training Log", upload_training_log_path %>	|
<%= link_to "Workouts", workouts_path %> |
<%= link_to "Graphs", graphs_path %>


<%= yield %>

<p>This is the footer full of footery info</p>


</body>
</html>
