<!DOCTYPE html>
<html>
<head>
  
  	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Fit Charts</title>
	
	
	<link rel="stylesheet" type="text/css" href="/assets/reset.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/assets/text.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/assets/grid.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/assets/layout.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/assets/nav.css" media="screen" />

	<!--<%= stylesheet_link_tag "reset", "text", "grid", "layout", "nav"  %>-->
	<!--[if IE 6]><link rel="stylesheet" type="text/css" href="assets/ie6.css" media="screen" /><![endif]-->
	<!--[if IE 7]><link rel="stylesheet" type="text/css" href="assets/ie.css" media="screen" /><![endif]-->


  	<%= csrf_meta_tags %>
  	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-29606852-1']);
	  _gaq.push(['_setDomainName', 'fitcharts.com']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>
</head>
<body>
	<div class="container_16">
		<div class="clear"></div>
		<div class="grid_16">
			<div id="header">
				<h1 id="branding">
					<%= link_to "Fit", home_index_path, :id => 'fit'  %><%= link_to "Charts", home_index_path, :id => 'charts'  %>
				</h1>
				<div class="secondary">
					<div id="login_info">
						<% if user_signed_in? %>
						    Signed in as <%= current_user.email %>. <%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %>
						<% else %>
						    <%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		<div class="grid_16">
			<ul class="nav main">
				<li>
					<%= link_to "Home", home_index_path %>
				</li>
				<li>
					<%= link_to "Upload Training Log", upload_training_log_path %>
				</li>
				<li>
					<%= link_to "Workouts", workouts_path %>
				</li>
				<li>
					<%= link_to "Graphs", graphs_path %>
				</li>
				<li class="secondary">
					<%= link_to "About", about_path %>
				</li>
				<li class="secondary">
					<%= link_to "FAQ", faq_path %>
				</li>
			</ul>
		</div>
		<div class="clear"></div>
		
		
		
		
		
		
		
		


		<div class="grid_16">
			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
		
			<%= yield %>
		</div>
		<div class="clear"></div>
		<div class="grid_16" id="site_info">
			<div class="box">
				<p>Fit Charts Footer</p>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js'></script>

	<script type="text/javascript" src="assets/highcharts.js"></script>
	<script type="text/javascript" src="assets/custom_graph.js"></script>
	<script type="text/javascript" src="assets/jquery-fluid16.js"></script>

	
	<!--<%= javascript_include_tag "highcharts", "custom_graph", "jquery-fluid16"  %> -->


</body>
</html>
